*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(102, 80, 84);
    color:white;
    font-family: sans-serif;
}
header{
    background-color:rgb(198, 163, 163);
    color:black;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:20px;
}

header h1{
    font-family: cursive;
    color:white;
    text-decoration: underline;
    text-shadow: 0 0 20px white;
    cursor:pointer;
}

header h1 span{
    color:rgb(162, 58, 58)
}
header h1:hover{
    color: plum
}

.titleH1{
    color: plum;
    font-family: cursive;
    text-align: center;
    margin:24px;
}

a{
    text-decoration: none;
    color:inherit;
}


.carousel{
    height: 200px;
    margin:40px auto;
    display:flex;
    overflow-x: hidden;
    gap: 17px;
    width: 90%
}

.group{
    display:flex;
    gap:17px;
    align-items: center;
    animation: spin 20s infinite linear;
}

.genreItem{
    background-color: rgb(198, 163, 163);
    width: 200px;
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    border-radius: 7px;
    cursor:pointer; 
}

.genreItem:hover{
    filter: drop-shadow(0 0 10px rgb(164, 158, 158))
}

@keyframes spin {
    from{
        translate: 0;
    }
    to{
        translate: -100%;
    }
}

.game-list{
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.figure{
    text-align:center;
    width: 22%;
    border:solid rgb(164, 158, 158) 1px;
    padding: 20px 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.3s;
}

figure img{
    width:100%;
    margin: 10px 0;
}

figure p:nth-of-type(1){
    font-size: 20px;
    font-weight: bold;
}

.figure:hover{
    transform:scale(1.037);
    box-shadow: 0 0 5px rgb(164, 158, 158);
}

/* */
.about-page{
    display:flex;
    height: 90vh;

}

.about-page section{
    flex:1;
}

.about-right{
display: flex;
justify-content: center;
align-items: center;
}

.about-right img{
    width: 70%;
    aspect-ratio: 1;
    border-radius: 17% 83% 17% 83% / 83% 17% 83% 17% ;
    filter: drop-shadow(0 0 10px rgb(164, 158, 158));
    object-fit: cover;
    
}

.about-left{
    padding: 20px;
}

.about-left >*{
    margin-bottom: 20px;
}

.social{
    display:flex;
    justify-content: center;
    gap: 20px;
}

.social >*{
    font-size: 25px;
    color:rgb(164, 158, 158);
}

.social>*:hover{
    filter: drop-shadow(0 0 10px rgb(164, 158, 158));
}

.whatsapp-btn{
    background-color: transparent;
    border:none;
    cursor:pointer;
}

.center{
    text-align: center;
}

button{
    background-color: rgb(164, 158, 158);
    color:white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor:pointer;
    transition: .2s;
}
button:hover{
    box-shadow: 0 0 5px 5px rgb(164, 158, 158);
}

button:disabled{
    background-color: gray;
}
button:disabled:hover {
    box-shadow: 0 0;
}

.game-header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    width: 90%;
    margin: 30px auto;
}

.game-content{
    width: 90%;
    gap: 50px;
    margin:auto;
    display:flex;
}

.game-images{
    flex:1;
}

.game-info{
    height: 500px;
    flex:2;
}

.screenshots{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}

.screenshots img{
    width: 47%;
}

.thumbnail{
    width:100%;
}

h3{
    margin-bottom: 25px;
}

.minimum{
    margin-top:40px;
}

.pointer{
    cursor:pointer;
}

.pointer:hover{
    filter: drop-shadow(0 0 10px rgb(164, 158, 158))
}